---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.tabTitle }}</title>
    <meta name="description" content="{{ page.ogDesc }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/media/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/media/apple-touch-icon.png">

    <!-- don't show this site on search engines -->
    {% if site.showinSearchEngines == true %}
        <meta name="robots" content="index">
    {% else %}
        <meta name="robots" content="noindex">
    {% endif %}

    <!-- css and fonts -->
    <link href="{{ site.baseurl }}/assets/styles.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/micromodal.custom.css" rel="stylesheet">

    <!-- set chrome and embed site color -->
    <meta name="theme-color" content="#272727">

    <!-- social media -->
    <meta property="og:title" content="{{ page.ogTitle }}">
    <meta property="og:description" content="{{ page.ogDesc }}">
    <meta property="og:image" content="{{ page.ogImg }}">
    <meta property="og:url" content="{{ site.url }}/{{ page.ogURL }}">
    
</head>

<body style="min-height:100vh;">
    <!-- navbar -->
    <nav class="flex items-center justify-between flex-wrap bg-transparent p-4 bg-opacity-30">
        <a href="{{ site.baseurl }}/">
            <div class="flex items-center flex-shrink-0 text-white mr-6 select-none">
                <!-- img src="{{ site.baseurl }}{{ site.siteIcon }}" class="mr-4 rounded shadow" width="30px" alt="projectTitin Material Repository" -->
                <span class="font-semibold text-xl tracking-tight hidden md:block" id="serverLogoName">projectTitin</span>
            </div>
        </a>
        <div class="block flex-grow flex items-center w-auto">
            
            {% if site.siteNav %}
                <div class="text-base flex-grow text-right pb-1 lg:pb-0">
                    <!-- Home link only on lg -->
                    <a href="{{ site.baseurl }}/" rel="noopener" class="hidden lg:block lg:inline-block {% if page.navname == "Home" %}text-white{% else %}text-teal-200 hover:text-white{% endif %} ml-4">
                        Home
                    </a>
                    {% for nlink in site.siteNav %}
                        <a href="{{ site.baseurl }}/{{ nlink.url }}" rel="noopener" {% if nlink.newtab == true %}target="_blank" {% endif %}class="block inline-block {% if page.navname == nlink.name %}text-white{% else %}text-teal-200 hover:text-white{% endif %} ml-3">
                            {{ nlink.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </nav>

    {{ content }}

    <div class="bg-black bg-opacity-50 rounded-t-xl layoutfooter w-full p-3 text-center transition duration-200">
        <a href="https://github.com/coffeebank/" rel="noopener" title="coffeebank on GitHub" class="hover:text-gray-400">&middot; Thanks to coffeebank for help on this site</a> &middot; 
        <a href="https://youtube.com/@pseudoforceyt" rel="noopener" title="Legal" class="hover:text-gray-400">&copy; {{ site.siteYear }}<script>new Date().getFullYear()>{{ site.siteYear }}&&document.write("&#8208;"+new Date().getFullYear());</script> youtube.com/@pseudoforceyt &middot;</a>
    </div>

    <!-- Google Analytics -->
    {% if googleAnalyticsID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsID }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ googleAnalyticsID }}');
    </script>
    {% endif %}
    
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="{{ site.baseurl }}/assets/micromodal.custom.js"></script>

</body>
</html>
